<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>[%-5level] %d{dd/MM/yyyy HH:mm:ss.SSS} [%thread] %logger{5}: %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.beans" level="WARN" />
	<logger name="org.springframework.web" level="INFO" />
	<logger name="org.springframework.core" level="INFO" />
	<logger name="org.springframework.ui" level="WARN" />
	<logger name="org.springframework.aop" level="WARN" />
	<logger name="org.springframework.security" level="WARN" />
	<logger name="org.springframework.jndi" level="WARN" />
	<logger name="org.springframework.remoting" level="WARN" />
	<logger name="org.springframework.context" level="INFO" />
	<logger name="org.springframework.jdbc" level="WARN" />
	<logger name="org.springframework.transaction" level="WARN" />
	<logger name="org.apache.cxf" level="WARN" />
	<logger name="com.caucho.hessian" level="WARN" />
	<logger name="org.springframework" level="WARN"/>
	<logger name="jndi" level="WARN" />
	<logger name="org.eclipse.jetty" level="WARN" />
	<logger name="org.apache.commons" level="WARN" />
	<logger name="com.zaxxer.hikari" level="WARN" />
	<logger name="org.apache.jasper" level="WARN" />
	<logger name="org.apache.tomcat.util" level="WARN" />
	<logger name="com.ontimize.db" level="WARN" />
	<logger name="com.ontimize.jee.server.dao" level="WARN" />
<!-- 	<logger name="com.microsoft.sqlserver" level="WARN"/> -->
	<logger name="org.postgresql" level="WARN"/>
	<logger name="com.sun.xml" level="WARN"/>
	<logger name="liquibase" level="INFO" />
	<logger name="LiquibaseSchemaResolver" level="INFO" />
	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default. -->
<!-- 	<logger name="com.ontimize.jee.server.callback" level="TRACE" /> -->
<!-- 	<logger name="org.cometd.server" level="TRACE" /> -->
	<root level="INFO">
		 <appender-ref ref="STDOUT" /> 
	</root>

</configuration>